In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("cars.csv")

In [2]:
df

,brand,model,car_name,price,year,hand_num,horse_power,4x4,fuel_type,engine_volume,valid_test,magnesium_wheels,distance_control,economical,adaptive_cruise_control,cruise_control,brand_normalized,brand_group
0,Mercedes,A-Class,Mercedes A-Class,210000.0,2022,1,160.0,0,hybrid,1.3,1,0,0,0,0,0,mercedes,Luxury
1,Alfa Romeo,Giulia,Alfa Romeo Giulia,92400.0,2018,1,197.0,0,petrol,2.0,0,1,1,1,0,0,alfa romeo,Other
2,Toyota,Sequoia,Toyota Sequoia,120000.0,2008,4,381.0,1,petrol,5.8,1,0,0,0,0,0,toyota,Budget
3,Hyundai,Santa Fe,Hyundai Santa Fe,92500.0,2017,1,192.0,1,petrol,2.4,1,1,1,0,0,0,hyundai,Budget
4,Skoda,Karoq,Skoda Karoq,82300.0,2018,2,115.0,0,petrol,1.0,0,1,1,0,1,1,skoda,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15285,Toyota,Yaris Cross,Toyota Yaris Cross,120000.0,2023,2,92.0,0,petrol,1.5,0,0,1,0,1,1,toyota,Budget
15286,Toyota,Aygo Aygo,Toyota Aygo (AYGO),19900.0,2013,4,69.0,0,petrol,1.0,1,0,0,1,0,0,toyota,Budget
15287,Renault,Megane,Renault Megane Grand Coupe,49900.0,2018,4,110.0,0,diesel,1.5,0,1,0,1,0,0,renault,Budget
15288,Nissan,Juke,Nissan Juke / Juke,37990.0,2016,3,117.0,0,petrol,1.6,1,1,0,0,0,0,nissan,Budget
15289,Audi,Q5,Audi Q5,69900.0,2014,2,225.0,1,petrol,2.0,1,1,0,0,0,0,audi,Luxury